:root {
    --primary-color: #192231;
    --white-color: #fff;
    --light-gray-color: #EEEEEE;    
}

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    /* 1rem = 16px (User Agent do Browser) = 100%*/
    font-size: 62.5% /* 10px */;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;   
    color: var(--primary-color);
}

.menu {
    background: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid var(--light-gray-color);

}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: crimson;
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;    
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;    
}

h2 {
    font-size: 5.5rem;
    text-transform: uppercase;    
}

h3 {
    font-size: 5rem;
    text-transform: uppercase;    
}

h4 {
    font-size: 4rem;
    text-transform: uppercase;    
}

h5 {
    font-size: 3rem;
    text-transform: uppercase;    
}

h6 {
    font-size: 2rem;
    text-transform: uppercase;    
}

.main-bg {
    background-image: url('../img/background-doodles.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background: var(--white-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;    
}

.section {
    min-height: 100vh;
}



